<main>
  <section id="kv">
    <div class="kv-inner">
      <h1 class="logo animate__animated animate__kvLogoSlideInUp animate__delay-1s wow rellax" data-rellax-speed="1">
        <picture>
          <source srcset="{{ 'logo_n.webp' | file_url }}" type="image/webp">
          <img src="{{ 'logo_n.png' | file_url }}" type="image/png" alt="HABUSH" width="476">
        </picture>
      </h1>
      <div class="swiper-pagination"></div>
      <div class="swiper kv-list animate__animated animate__slideInUp animate__delay-1s wow">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset="{{ 'slide01.webp' | file_url }}" type="image/webp" media="(min-width: 768px)">
              <source srcset="{{ 'slide01.jpg' | file_url }}" type="image/jpg" media="(min-width: 768px)">
              <source srcset="{{ 'slide01-sp.webp' | file_url }}" type="image/webp">
              <img
                src="{{ 'slide01-sp.jpg' | file_url }}"
                alt=""
                type="image/jpg"
                data-swiper-parallax-x="80%"
                data-swiper-parallax-scale="1"
              >
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="{{ 'slide02.webp' | file_url }}" type="image/webp" media="(min-width: 768px)">
              <source srcset="{{ 'slide02.jpg' | file_url }}" type="image/jpg" media="(min-width: 768px)">
              <source srcset="{{ 'slide02-sp.webp' | file_url }}" type="image/webp">
              <img
                src="{{ 'slide02-sp.jpg' | file_url }}"
                alt=""
                type="image/jpg"
                data-swiper-parallax-x="80%"
                data-swiper-parallax-scale="1"
              >
            </picture>
          </div>
        </div>
      </div>
      <div class="name rellax" data-rellax-speed="1">
        <picture>
          <source srcset="{{ 'awich-name.webp' | file_url }}" type="image/webp">
          <img src="{{ 'awich-name.png' | file_url }}" type="image/png" alt="Awich" width="483">
        </picture>
      </div>
    </div>
  </section>
  <section id="product">
    <div class="section-container">
      <div class="product-inner justify-content-between align-items-center wow animate__animated animate__fadeInUp">
        <h2 class="logo">
          <picture>
            <source srcset="{{ 'logo_n.webp' | file_url }}" type="image/webp">
            <img src="{{ 'logo_n.png' | file_url }}" type="image/png" alt="HABUSH" class="lazyload" width="179">
          </picture>
        </h2>
        <div class="item">
          <picture>
            <source srcset="{{ 'item.webp' | file_url }}" type="image/webp">
            <img src="{{ 'item.png' | file_url }}" type="image/png" alt="" class="lazyload" width="338">
          </picture>
        </div>
        <div class="info">
          <p class="memo-main">
            サトウキビからつくった59度のアルコールに<br class="for-pc"
            >浸けて抽出し、香り高い13種類（または8種類）<br class="for-pc"
            >のハーブ酒（泡盛ベース）と合わせたハブ酒。
          </p>
          <div class="sp-flex justify-content-center flex">
            <p class="head en for-sp">Price - Info</p>
            <div class="flex-item">
              <p class="price"><span class="en">¥4,400</span>(送料別)</p>
              <p class="detail">
                内容量 500ml<br>
                アルコール度数 35度
              </p>
              <p class="memo">
                これはお酒です。<br>
                20歳未満の者の飲酒は法律で<br class="for-sp">禁止されています。
              </p>
            </div>
          </div>
          <p class="purchase_btn modal_btn" data-target="modal-04"><span>商品詳細をみる&emsp;&RightArrow;</span></p>
        </div>

        <!-- <div class="info">
          <div class="sp-flex justify-content-center flex">
            <p class="head en">Price - Info</p>
            <p class="memo">
              サトウキビからつくった59度のアルコールに<br class="for-pc"
              >浸けて抽出し、香り高い13種類（または8種類）<br class="for-pc"
              >のハーブ酒（泡盛ベース）と合わせたハブ酒。
            </p>
            <div class="flex-item">
              <p class="price"><span class="en">¥4,400</span>(送料別)</p>
              <p class="detail">
                内容量 500ml<br>
                アルコール度数 35度
              </p>
              <p class="memo">
                これはお酒です。<br>
                20歳未満の者の飲酒は法律で<br class="for-sp">
                禁止されています。
              </p>
            </div>
          </div>
          <p class="purchase_btn modal_btn" data-target="modal-03">商品詳細をみる →</p>
        </div> -->
      </div>
    </div>
    <div class="product-bg">
      <picture>
        <source srcset="{{ 'product-bg.webp' | file_url }}" type="image/webp">
        <img
          src="{{ 'product-bg.png' | file_url }}"
          type="image/png"
          alt=""
          class="wow animate__animated animate__zoomIn2 animate__delay-fast lazyload"
        >
      </picture>
    </div>
  </section>

  <!-- <section id="product2">
    <div class="section-container">
      <div class="product-inner justify-content-between align-items-center wow animate__animated animate__fadeInUp">
        <h2 class="logo">
          <picture class="first">
            <source srcset="{{ 'logo_n.webp' | file_url }}" type="image/webp">
            <img src="{{ 'logo_n.png' | file_url }}" type="image/png" alt="HABUSH" class="lazyload" width="179">
          </picture>
          <picture class="second">
            <img src="{{ 'text_limited.png' | file_url }}" type="image/png" alt="HABUSH" class="lazyload" width="118">
          </picture>
        </h2>
        <div class="item">
          <picture>
            <source srcset="{{ 'item.webp' | file_url }}" type="image/webp">
            <img src="{{ 'item.png' | file_url }}" type="image/png" alt="" class="lazyload" width="338">
          </picture>
        </div>
        <div class="info">
          <p class="memo-main">
            サトウキビからつくった59度のアルコールに<br class="for-pc">
            浸けて抽出し、香り高い13種類（または8種類）<br class="for-pc">
            のハーブ酒（泡盛ベース）と合わせたハブ酒。
          </p>
          <div class="sp-flex justify-content-center flex">
            <p class="head en for-sp">Price - Info</p>
            <div class="flex-item">
              <p class="price"><span class="en">¥35,000</span>(送料別)</p>
              <p class="detail">
                内容量 500ml<br>
                アルコール度数 35度
              </p>
            </div>
          </div>
          <p class="purchase_btn modal_btn" data-target="modal-04"><span>商品詳細をみる&emsp;&RightArrow;</span></p>
        </div>
      </div>
    </div>
    <div class="product-bg">
      <picture>
        <img
          src="{{ 'product-limited_bg.png' | file_url }}"
          type="image/png"
          alt=""
          class="wow animate__animated animate__zoomIn2 animate__delay-1s lazyload"
        >
      </picture>
    </div>
  </section> -->

  <section id="story">
    <div class="story-entry">
      <div class="story-pic-inner">
        <picture>
          <source srcset="{{ 'story.webp' | file_url }}" type="image/webp" media="(min-width: 768px)">
          <source srcset="{{ 'story-sp.webp' | file_url }}" type="image/webp">
          <source srcset="{{ 'story.jpg' | file_url }}" type="image/jpg" media="(min-width: 768px)">
          <img
            src="{{ 'story-sp.jpg' | file_url }}"
            type="image/jpg"
            alt=""
            class="wow animate__animated animate__zoomIn2 animate__delay-half lazyload"
          >
        </picture>
      </div>
      <div class="loop-list loop-normal">
        <div><img src="{{ 'story-head.svg' | file_url }}" alt="BRAND STORY" width="522"></div>
        <div class="difference"><img src="{{ 'story-head.svg' | file_url }}" alt="BRAND STORY" width="522"></div>
        <div><img src="{{ 'story-head.svg' | file_url }}" alt="BRAND STORY" width="522"></div>
        <div><img src="{{ 'story-head.svg' | file_url }}" alt="BRAND STORY" width="522"></div>
        <div><img src="{{ 'story-head.svg' | file_url }}" alt="BRAND STORY" width="522"></div>
        <div><img src="{{ 'story-head.svg' | file_url }}" alt="BRAND STORY" width="522"></div>
        <div class="difference"><img src="{{ 'story-head.svg' | file_url }}" alt="BRAND STORY" width="522"></div>
        <div><img src="{{ 'story-head.svg' | file_url }}" alt="BRAND STORY" width="522"></div>
        <div><img src="{{ 'story-head.svg' | file_url }}" alt="BRAND STORY" width="522"></div>
        <div><img src="{{ 'story-head.svg' | file_url }}" alt="BRAND STORY" width="522"></div>
      </div>
    </div>
    <div id="story-main" class="story-main">
      <h2 class="copy rellax" data-rellax-speed="1">
        Energy Shot<br>
        <span>f</span>or You
      </h2>
      <div class="story-inner justify-content-between wow animate__animated animate__fadeInUp">
        <p class="head en">Okinawa - Japan</p>
        <p class="text">
          ハーブの香り、ほのかな甘さ。<br>
          一口飲めば、カラダが芯からアツくなってくる。<br>
          <br>
          沖縄で大切にされてきた伝統的な薬膳酒「ハブ酒」は、<br>
          滋養強壮パワーはそのままに飲みやすい「HABUSH」<br class="for-sp">
          として生まれ変わりました。<br>
          <br>
          沖縄で「ヌチグスイ（命薬）」と呼ばれる<br class="for-sp">
          「薬になるほどの効果がある食べ物や飲み物」を<br>
          目指し、十三種類のハーブエキスや、<br class="for-sp">
          命の源である成分を多く含むハブエキスを配合。<br>
          職人たちが1本1本丁寧に仕上げています。<br>
          <br>
          Awichがプロデュースするのは、<br class="for-sp">
          刺激を求める大人たちのエネルギッシュな夜の時間。<br>
          セクシーに、スタイリッシュに、<br class="for-sp">
          エネルギッシュに、楽しい夜を演出します。<br>
        </p>
      </div>
      <span class="story-bg"></span>
    </div>
    <div class="story-kv">
      <picture class="">
        <source srcset="{{ 'story-kv.webp' | file_url }}" type="image/webp" media="(min-width: 768px)">
        <source srcset="{{ 'story-kv-sp.webp' | file_url }}" type="image/webp">
        <source srcset="{{ 'story-kv.jpg' | file_url }}" type="image/jpg" class="lazyload" media="(min-width: 768px)">
        <img
          src="{{ 'story-kv-sp.jpg' | file_url }}"
          type="image/jpg"
          alt=""
          class="wow animate__animated animate__zoomIn2 animate__delay-half lazyload"
        >
      </picture>
    </div>
  </section>

  <section id="process">
    <div class="process__container">
      <div class="loop-list loop-normal">
        <div><img src="{{ 'process.svg' | file_url }}" alt="PROCESS" width="339"></div>
        <div><img src="{{ 'process.svg' | file_url }}" alt="PROCESS" width="339"></div>
        <div><img src="{{ 'process.svg' | file_url }}" alt="PROCESS" width="339"></div>
        <div><img src="{{ 'process.svg' | file_url }}" alt="PROCESS" width="339"></div>
        <div><img src="{{ 'process.svg' | file_url }}" alt="PROCESS" width="339"></div>
        <div><img src="{{ 'process.svg' | file_url }}" alt="PROCESS" width="339"></div>
        <div><img src="{{ 'process.svg' | file_url }}" alt="PROCESS" width="339"></div>
        <div><img src="{{ 'process.svg' | file_url }}" alt="PROCESS" width="339"></div>
        <div><img src="{{ 'process.svg' | file_url }}" alt="PROCESS" width="339"></div>
        <div><img src="{{ 'process.svg' | file_url }}" alt="PROCESS" width="339"></div>
        <div><img src="{{ 'process.svg' | file_url }}" alt="PROCESS" width="339"></div>
        <div><img src="{{ 'process.svg' | file_url }}" alt="PROCESS" width="339"></div>
      </div>
      <a class="process__img-wrap" href="/pages/process" id="imageContainer"></a>
      <a class="process__img-wrap2" href="/pages/process" id="imageContainer2"></a>
    </div>

    <div class="process__more-wrap">
      <a class="process__more" href="/pages/process">
        <span class="en">MORE</span>
        <img src="{{ 'icon_arrow.png' | file_url }}" alt="矢印のアイコン" width="20" height="20" loading="lazy">
      </a>
    </div>
  </section>

  <section id="recipe">
    <div class="loop-list loop-reverse" dir="rtl">
      <div><img src="{{ 'recipe_title.png' | file_url }}" alt="RECIPE" width="258"></div>
      <div><img src="{{ 'recipe_title.png' | file_url }}" alt="RECIPE" width="258"></div>
      <div><img src="{{ 'recipe_title.png' | file_url }}" alt="RECIPE" width="258"></div>
      <div><img src="{{ 'recipe_title.png' | file_url }}" alt="RECIPE" width="258"></div>
      <div><img src="{{ 'recipe_title.png' | file_url }}" alt="RECIPE" width="258"></div>
      <div><img src="{{ 'recipe_title.png' | file_url }}" alt="RECIPE" width="258"></div>
      <div><img src="{{ 'recipe_title.png' | file_url }}" alt="RECIPE" width="258"></div>
      <div><img src="{{ 'recipe_title.png' | file_url }}" alt="RECIPE" width="258"></div>
      <div><img src="{{ 'recipe_title.png' | file_url }}" alt="RECIPE" width="258"></div>
      <div><img src="{{ 'recipe_title.png' | file_url }}" alt="RECIPE" width="258"></div>
      <div><img src="{{ 'recipe_title.png' | file_url }}" alt="RECIPE" width="258"></div>
      <div><img src="{{ 'recipe_title.png' | file_url }}" alt="RECIPE" width="258"></div>
    </div>
    <div class="recipe__scrollbar">Match with a Variety of Tastes</div>

    <div class="recipe__swiper recipe__container">
      <div class="swiper-wrapper recipe__container-inner">
        <a href="/pages/recipe" class="recipe__slide swiper-slide" slide="0" onclick="saveSlideAttribute(this)">
          <div class="picture">
            <img src="{{ 'recipe-main1.png' | file_url }}" alt="コーヒーの画像" width="258">
          </div>
          <div class="title-wrap">
            <div class="title title1">
              <img
                class="text"
                src="{{ 'text_habucoffee.svg' | file_url }}"
                alt="HABU COFFEE"
                width="190"
                height="45"
              >
              <p>&plus; ブラックコーヒー</p>
            </div>
            <img
              class="arrow"
              src="{{ 'icon-arrow-white.png' | file_url }}"
              alt="矢印のアイコン"
              width="20"
              height="20"
            >
          </div>
        </a>
        <a href="/pages/recipe" class="recipe__slide swiper-slide" slide="1" onclick="saveSlideAttribute(this)">
          <div class="picture">
            <img src="{{ 'recipe-main2.png' | file_url }}" alt="コーラの画像" width="258">
          </div>
          <div class="title-wrap">
            <div class="title title2">
              <img class="text" src="{{ 'text_habucoke.svg' | file_url }}" alt="HABU COKE" width="325" height="75">
              <p>&plus; コーラ</p>
            </div>
            <img
              class="arrow"
              src="{{ 'icon-arrow-white.png' | file_url }}"
              alt="矢印のアイコン"
              width="20"
              height="20"
            >
          </div>
        </a>
        <a href="/pages/recipe" class="recipe__slide swiper-slide" slide="2" onclick="saveSlideAttribute(this)">
          <div class="picture">
            <img src="{{ 'recipe-main3.png' | file_url }}" alt="トニックウォーターの画像" width="258">
          </div>
          <div class="title-wrap">
            <div class="title title3">
              <img class="text" src="{{ 'text_habutonic.svg' | file_url }}" alt="HABU TONIC" width="325" height="75">
              <p>&plus; トニックウォーター</p>
            </div>
            <img
              class="arrow"
              src="{{ 'icon-arrow-white.png' | file_url }}"
              alt="矢印のアイコン"
              width="20"
              height="20"
            >
          </div>
        </a>
        <a href="/pages/recipe" class="recipe__slide swiper-slide" slide="3" onclick="saveSlideAttribute(this)">
          <div class="picture">
            <img src="{{ 'recipe-main4.png' | file_url }}" alt="エナジードリンクの画像" width="258">
          </div>
          <div class="title-wrap">
            <div class="title title4">
              <img class="text" src="{{ 'text_habuenegy.svg' | file_url }}" alt="HABU ENERGY" width="325" height="75">
              <p>&plus; エナジードリンク</p>
            </div>
            <img
              class="arrow"
              src="{{ 'icon-arrow-white.png' | file_url }}"
              alt="矢印のアイコン"
              width="20"
              height="20"
            >
          </div>
        </a>
        <a href="/pages/recipe" class="recipe__slide swiper-slide" slide="4" onclick="saveSlideAttribute(this)">
          <div class="picture">
            <img src="{{ 'recipe-main5.png' | file_url }}" alt="さんぴん茶の画像" width="258">
          </div>
          <div class="title-wrap">
            <div class="title title5">
              <img
                class="text"
                src="{{ 'text_habusanpin.svg' | file_url }}"
                alt="HABU SANPIN"
                width="325"
                height="75"
              >
              <p>&plus; さんぴん茶</p>
            </div>
            <img
              class="arrow"
              src="{{ 'icon-arrow-white.png' | file_url }}"
              alt="矢印のアイコン"
              width="20"
              height="20"
            >
          </div>
        </a>
        <a href="/pages/recipe" class="recipe__slide swiper-slide" slide="5" onclick="saveSlideAttribute(this)">
          <div class="picture">
            <img src="{{ 'recipe-main6.png' | file_url }}" alt="牛乳の画像" width="258">
          </div>
          <div class="title-wrap">
            <div class="title title6">
              <img class="text" src="{{ 'text_habumilk.svg' | file_url }}" alt="HABU MILK" width="325" height="75">
              <p>&plus; 牛乳</p>
            </div>
            <img
              class="arrow"
              src="{{ 'icon-arrow-white.png' | file_url }}"
              alt="矢印のアイコン"
              width="20"
              height="20"
            >
          </div>
        </a>
        <a href="/pages/recipe" class="recipe__slide swiper-slide" slide="6" onclick="saveSlideAttribute(this)">
          <div class="picture">
            <img src="{{ 'recipe-main7.png' | file_url }}" alt="飲むヨーグルトの画像" width="258">
          </div>
          <div class="title-wrap">
            <div class="title title7">
              <img class="text" src="{{ 'text_habuyogur.svg' | file_url }}" alt="HABU YOGUR" width="325" height="75">
              <p>&plus; 飲むヨーグルト</p>
            </div>
            <img
              class="arrow"
              src="{{ 'icon-arrow-white.png' | file_url }}"
              alt="矢印のアイコン"
              width="20"
              height="20"
            >
          </div>
        </a>
        <a href="/pages/recipe" class="recipe__slide swiper-slide" slide="7" onclick="saveSlideAttribute(this)">
          <div class="picture">
            <img src="{{ 'recipe-main8.png' | file_url }}" alt="グレープフルーツジュースの画像" width="258">
          </div>
          <div class="title-wrap">
            <div class="title title8">
              <img class="text" src="{{ 'text_habudog.svg' | file_url }}" alt="HAB DOG" width="325" height="75">
              <p>&plus; グレープフルーツ</p>
            </div>
            <img
              class="arrow"
              src="{{ 'icon-arrow-white.png' | file_url }}"
              alt="矢印のアイコン"
              width="20"
              height="20"
            >
          </div>
        </a>
      </div>
    </div>
    <!--
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    -->

    <div class="recipe__more">
      <a class="recipe__more-btn" href="/pages/recipe">
        <span class="en">MORE</span>
        <img src="{{ 'icon-arrow-white.png' | file_url }}" alt="矢印のアイコン" width="20" height="20">
      </a>
    </div>
  </section>

  <section id="sns">
    <div class="section-container justify-content-between">
      <div class="left-content d-flex justify-content-between wow animate__animated animate__fadeInUp">
        <h2 class="head">
          <img src="{{ 'sns-header.svg' | file_url }}" alt="SNS" width="100">
        </h2>
        <div class="info">
          <p>
            INSTAGRAM<br>
            PHOTO<br>
            <br>
            HABUSH.JP<br>
            <br>
            <a href="https://www.instagram.com/habush.jp/" target="_blank" class="lazyload" rel="noopener noreferrer">
              <img src="{{ 'sns-icon.png' | file_url }}" alt="" width="42" class="lazyload">
            </a>
          </p>
        </div>
      </div>
      <div class="right-content wow animate__animated animate__fadeInUp">
        <div class="d-flex flex-wrap">
          <div class="sns-item">
            <picture>
              <source srcset="{{ 'sns-lt.webp' | file_url }}" type="image/webp" class="lazyload">
              <img src="{{ 'sns-lt.jpg' | file_url }}" alt="" class="lazyload">
            </picture>
          </div>
          <div class="sns-item">
            <picture>
              <source srcset="{{ 'sns-rt.webp' | file_url }}" type="image/webp" class="lazyload">
              <img src="{{ 'sns-rt.jpg' | file_url }}" alt="" class="lazyload">
            </picture>
          </div>
          <div class="sns-item">
            <picture>
              <source srcset="{{ 'sns-lb.webp' | file_url }}" type="image/webp" class="lazyload">
              <img src="{{ 'sns-lb.jpg' | file_url }}" alt="" class="lazyload">
            </picture>
          </div>
          <div class="sns-item">
            <picture>
              <source srcset="{{ 'sns-rb.webp' | file_url }}" type="image/webp" class="lazyload">
              <img src="{{ 'sns-rb.jpg' | file_url }}" alt="" class="lazyload">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% comment %}
    <section id="contact">
      <form method="post" action="mail.php">
        <div class="section-container justify-content-between">
          <div class="left-content">
            <h2 class="head wow animate__animated animate__fadeInUp">
              <img src="{{ 'contact-header.svg' | file_url }}" alt="CONTACT" width="226">
              <p>取引のお問い合わせ</p>
            </h2>
          </div>
          <div class="right-content wow animate__animated animate__fadeInUp">
            <table class="formTable">
              <tr>
                <th>お名前 ・</th>
                <td><input size="20" type="text" name="お名前" placeholder="例）山田 太郎"></td>
              </tr>
              <tr>
                <th>メール ・</th>
                <td><input size="30" type="text" name="メール" placeholder="例）info@habush.jp"></td>
              </tr>
              <tr>
                <th>ご用件 ・</th>
                <td>
                  <select name="ご用件">
                    <option value="">選択してください</option>
                    <option value="卸・酒店">卸・酒店</option>
                    <option value="飲食">飲食</option>
                    <option value="取材">取材</option>
                    <option value="その他">その他</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>お問い合わせ内容 ・</th>
                <td><textarea name="お問い合わせ内容" cols="50" rows="5"></textarea></td>
              </tr>
            </table>
          </div>
        </div>
        <p class="text-center contact_btn">
          <input type="submit" value="送信する　→">
        </p>
      </form>
    </section>
  {% endcomment %}
</main>

{% schema %}
{
  "name": "トップデザイン",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "mv_text",
      "label": "タイトル"
    }
  ],
  "presets": [
    {
      "name": "トップデザイン",
      "blocks": []
    }
  ]
}
{% endschema %}
