<main class="preload-main">
  <section id="kv" class="under__kv">
    <div class="kv-inner">
      <h1 class="logo animate__animated animate__kvLogoSlideInUp animate__delay-1s wow rellax" data-rellax-speed="1">
        <picture>
          <img src="{{ 'process_title.png' | file_url }}" alt="process" width="348" height="115">
        </picture>
      </h1>
      <div class="kv-list animate__animated animate__slideInUp animate__delay-1s wow">
        <picture>
          <img
            src="{{ 'process_kv-img.png' | file_url }}"
            alt="お酒の画像"
            width="1000"
            height="830"
            data-swiper-parallax-x="80%"
            data-swiper-parallax-scale="1"
          >
        </picture>
      </div>
    </div>
  </section>
  <section class="underProcess__kinds">
    <div class="underProcess__kinds-inner">
      <div class="underProcess__kinds-title-wrap">
        <h2 class="underProcess__kinds-title copy rellax" data-rellax-speed="1"><span>13</span>kinds of herbs.</h2>
      </div>
      <div class="underProcess__kinds-wrap">
        <p class="underProcess__kinds-left">Habush - Materials</p>
        <p class="underProcess__kinds-right">
          水だけで100日以上生きるといわれるハブの強靭な生命力を59度のアルコールで抽出。香り高い13種類のハーブエキスと合わせてできるのがHABUSHです。ハーブの香りでハブのクセを柔らかくし、風味豊かに飲みやすいハブ酒が完成しました。<br>
          <br>
          生きたハブを鮮度がいい状態で特殊処理（放血法、臭腺除去、腸管摘出）。<br>
          骨肉皮のみをアルコールに浸漬し、無毒化後に旨味成分のエキスを抽出。<br>
          長期貯蔵熟成し、味にまるみが出たハブエキスを使用。
        </p>
      </div>
    </div>
  </section>

  <div class="underProcess__swiper-container first">
    <div class="underProcess__swiper reverse">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <img src="{{ 'kukoshi2.png' | file_url }}" alt="枸杞子の画像" width="410" height="300" loading="lazy">
          </picture>
          <p>枸杞子（くこし）</p>
        </div>
        <div class="swiper-slide">
          <picture>
            <img src="{{ 'kukoshi.png' | file_url }}" alt="枸杞子の画像" width="410" height="300" loading="lazy">
          </picture>
          <p>枸杞子（くこし）</p>
        </div>
        <div class="swiper-slide">
          <picture>
            <img
              src="{{ 'kumisukutin.png' | file_url }}"
              alt="クミスクチンの画像"
              width="410"
              height="300"
              loading="lazy"
            >
          </picture>
          <p>クミスクチン</p>
        </div>
        <div class="swiper-slide">
          <picture>
            <img src="{{ 'gokahi.png' | file_url }}" alt="五加皮の画像" width="410" height="300" loading="lazy">
          </picture>
          <p>五加皮（ごかひ）</p>
        </div>
        <div class="swiper-slide">
          <picture>
            <img src="{{ 'kashou.png' | file_url }}" alt="花椒の画像" width="410" height="300" loading="lazy">
          </picture>
          <p>花椒（かしょう）</p>
        </div>
        <div class="swiper-slide">
          <picture>
            <img src="{{ 'gokahi2.png' | file_url }}" alt="五加皮の画像" width="410" height="300" loading="lazy">
          </picture>
          <p>五加皮（ごかひ）</p>
        </div>
      </div>
    </div>
  </div>

  <div class="swiper-container">
    <div class="underProcess__swiper normal">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <img src="{{ 'ukyou1.png' | file_url }}" alt="ウイキョウの画像" width="410" height="300" loading="lazy">
          </picture>
          <p>ウイキョウ</p>
        </div>
        <div class="swiper-slide">
          <picture>
            <img src="{{ 'ukyou2.png' | file_url }}" alt="ウイキョウの画像" width="410" height="300" loading="lazy">
          </picture>
          <p>ウイキョウ</p>
        </div>
        <div class="swiper-slide">
          <picture>
            <img src="{{ 'ukon.png' | file_url }}" alt="秋ウコンの画像" width="410" height="300" loading="lazy">
          </picture>
          <p>秋ウコン</p>
        </div>
        <div class="swiper-slide">
          <picture>
            <img src="{{ 'natume.png' | file_url }}" alt="棗（なつめ）の画像" width="410" height="300" loading="lazy">
          </picture>
          <p>棗（なつめ）</p>
        </div>
        <div class="swiper-slide">
          <picture>
            <img src="{{ 'natume2.png' | file_url }}" alt="棗（なつめ）の画像" width="410" height="300" loading="lazy">
          </picture>
          <p>棗（なつめ）</p>
        </div>
        <div class="swiper-slide">
          <picture>
            <img src="{{ 'ukon2.png' | file_url }}" alt="秋ウコンの画像" width="410" height="300" loading="lazy">
          </picture>
          <p>秋ウコン</p>
        </div>
        <div class="swiper-slide">
          <picture>
            <img
              src="{{ 'tyouzi.png' | file_url }}"
              alt="丁字（ちょうじ）の画像"
              width="410"
              height="300"
              loading="lazy"
            >
          </picture>
          <p>丁字（ちょうじ）</p>
        </div>
      </div>
    </div>
  </div>

  <ol class="underProcess__list">
    <li class="underProcess__list-item">
      <p>
        <span>01.</span>
        <span
          >ハブを特殊処理<br class="for-sp">
          （完全な血抜き、臭線除去、腸管摘出）</span
        >
      </p>
    </li>
    <li class="underProcess__list-item">
      <p>
        <span>02.</span>
        <span
          >ハブの骨肉皮を59度のアルコールに<br class="for-sp">
          浸漬して、旨味成分のエキスを抽出。<br class="for-sp">
          3年以上寝かせて熟成。</span
        >
      </p>
    </li>
    <li class="underProcess__list-item">
      <p>
        <span>03.</span>
        <span
          >13種類のハーブを浸漬袋に入れて<br class="for-sp">
          泡盛につける。</span
        >
      </p>
    </li>
    <li class="underProcess__list-item">
      <p>
        <span>04.</span>
        <span
          >HABUSH独自のバランスでハブエキスと<br class="for-sp">
          ハーブエキスをブレンドし、浸漬タンクで熟成。</span
        >
      </p>
    </li>
    <li class="underProcess__list-item">
      <p>
        <span>05.</span>
        <span>瓶に充填、ラベルを貼り出荷。</span>
      </p>
    </li>
  </ol>
</main>
