<footer>
  <div class="footer-kv">
    <picture>
      <source
        srcset="{{ 'footer-kv.webp' | file_url }}"
        type="image/webp"
        media="(min-width: 768px)"
        class="lazyload"
      >
      <source srcset="{{ 'footer-kv-sp.webp' | file_url }}" type="image/webp" class="lazyload">
      <source
        srcset="{{ 'footer-kv.jpg' | file_url }}"
        type="image/jpg"
        class="lazyload"
        media="(min-width: 768px)"
        class="lazyload"
      >
      <img
        src="{{ 'footer-kv-sp.jpg' | file_url }}"
        type="image/jpg"
        alt=""
        class="wow animate__animated animate__zoomIn2 animate__delay-half lazyload"
        class="lazyload"
      >
    </picture>
  </div>
  <div class="footer-menu-bar">
    <div class="goods ls footer-menu-bar-item text-center for-pc">
      <a href="https://awichmerch.thebase.in/" target="_blank">
        <p><span class="en">OFFICIAL GOODS</span>AWICHオフィシャルグッズ</p>
      </a>
    </div>
    <div class="goods ls footer-menu-bar-item text-center for-sp">
      <a href="https://awichmerch.thebase.in/" target="_blank">
        <p>
          AWICH<br>
          オフィシャルグッズ<span class="en">OFFICIAL GOODS</span>
        </p>
      </a>
    </div>
    <!-- <div class="faq footer-menu-bar-item text-center">
      <p><span class="en color-gray">FAQ</span></p>
    </div> -->
    <div class="modal_btn pp footer-menu-bar-item text-center" data-target="modal-01">
      <p>プライバシーポリシー<span class="en">PRIVACY POLICY</span></p>
    </div>
    <div class="modal_btn ls footer-menu-bar-item text-center" data-target="modal-02">
      <p>
        <span class="en">LEGAL STATEMENT</span>特定商取引法<br class="for-sp">
        に基づく表記
      </p>
    </div>
    <div class="company footer-menu-bar-item text-center">
      {% if template == 'index' %}
      <a href="#info">
        <p><span class="en">COMPANY</span>会社概要</p>
      </a>
      {% else %}
      <a href="{{shop.url}}#info">
        <p><span class="en">COMPANY</span>会社概要</p>
      </a>
      {% endif %}
    </div>
  </div>

  <!--
    <div class="footer-menu-bar">
      <div class="faq footer-menu-bar-item text-center">
        <p><span class="en color-gray">FAQ</span></p>
      </div>
      <div class="modal_btn pp footer-menu-bar-item text-center" data-target="modal-01">
        <p>プライバシーポリシー<span class="en">PRIVACY POLICY</span></p>
      </div>
      <div class="modal_btn ls footer-menu-bar-item text-center" data-target="modal-02">
        <p><span class="en">LEGAL STATEMENT</span>特定商取引法<br class="for-sp">に基づく表記</p>
      </div>
      <div class="company footer-menu-bar-item text-center">
        <a href="#info">
          <p><span class="en">COMPANY</span>会社概要</p>
        </a>
      </div>
    </div>
  -->

  <div class="footer-main">
    <div class="footer-container d-flex justify-content-between align-items-end">
      <div class="left-content">
        {% if template == 'index' %}
        <ul>
          <li><a href="#product">PRODUCT</a></li>
          <li><a href="#story">BRAND STORY</a></li>
          <li><a href="/pages/process">PROCESS</a></li>
          <li><a href="/pages/recipe">RECIPE</a></li>
          <li><a href="#sns">SNS</a></li>
          <!-- <li><a href="#contact">CONTACT</a></li> -->
        </ul>
        {% else %}
        <ul>
          <li><a href="{{ shop.url }}#product">PRODUCT</a></li>
          <li><a href="{{ shop.url }}#story">BRAND STORY</a></li>
          <li><a href="/pages/process">PROCESS</a></li>
          <li><a href="/pages/recipe">RECIPE</a></li>
          <li><a href="{{ shop.url }}#sns">SNS</a></li>
          <!-- <li><a href="{{ shop.url }}#contact">CONTACT</a></li> -->
        </ul>
        {% endif %}
        <div class="symbol">
          <a href="/">
            <img src="{{ 'symbol.png' | file_url }}" alt="habush" width="53">
          </a>
        </div>
        <div id="info">
          <p>
            and okinawa株式会社<br>
            沖縄県那覇市識名1106-2
          </p>
        </div>
        <div class="logo">
          <img src="{{ 'logo_n.png' | file_url }}" alt="HABUSH" width="179">
        </div>
      </div>
      <div class="right-content">
        <p class="sns-icons">
          <a href="https://www.instagram.com/habush.jp/" target="_blank" rel="noopener noreferrer" class="ig-icon">
            <img src="{{ 'ig-icon.svg' | file_url }}" alt="" width="25">
          </a>
          <a href="https://twitter.com/habush_jp" target="_blank" rel="noopener noreferrer" class="twitter-icon">
            <img src="{{ 'twitter-icon.svg' | file_url }}" alt="" width="23">
          </a>
          <a
            href="https://www.tiktok.com/@habush.jp?_t=8WzUnbnRayI&_r=1"
            target="_blank"
            rel="noopener noreferrer"
            class="tiktok-icon"
          >
            <img src="{{ 'tiktok-icon.svg' | file_url }}" alt="" width="18">
          </a>
        </p>
        <p class="copy en for-pc">Copyright HABUSH. All Right Reserved.</p>
      </div>
    </div>
    <p class="copy en for-sp">Copyright HABUSH. All Right Reserved.</p>
  </div>
</footer>