<div id="opening-wrapper">
  <p class="animate__animated animate__zoomIn2">
    <img src="{{ 'logo_n.png' | file_url }}?1" alt="HABUSH" width="192">
  </p>
</div>
<header class="">
  <div class="header-container d-flex">
    <a href="/" class="symbol animate__animated animate__fadeIn animate__delay-1s">
      <picture>
        <source srcset="{{ 'symbol.webp' | file_url }}" type="image/webp">
        <img src="{{ 'symbol.png' | file_url }}?1" alt="" width="70">
      </picture>
    </a>
    <div class="header-text-wrap animate__animated animate__fadeIn animate__delay-1s">
      <div class="header-text">
        <p class="en">SPECIALQUALITY</p>
      </div>
      <div class="header-text">
        <p class="en">
          Awamori<br>
          Habu extract<br>
          13 kinds of herbs
        </p>
      </div>
    </div>
    <div class="sns-icons animate__animated animate__fadeIn animate__delay-1s">
      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        <img src="{{ 'cart-icon.svg' | file_url }}" alt="カート" width="25">
        <!-- {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%} -->
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
      <!-- <a href="https://www.instagram.com/habush.jp/" target="_blank" rel="noopener noreferrer" class="ig-icon">
        <img src="{{ 'ig-icon.svg' | file_url }}" alt="" width="25">
      </a>
      <a href="https://twitter.com/habush_jp" target="_blank" rel="noopener noreferrer" class="twitter-icon">
        <img src="{{ 'twitter-icon.svg' | file_url }}" alt="" width="23">
      </a>
      <a
        href="https://www.tiktok.com/@habush.jp?_t=8WzUnbnRayI&_r=1"
        target="_blank"
        rel="noopener noreferrer"
        class="tiktok-icon"
      >
        <img src="{{ 'tiktok-icon.svg' | file_url }}" alt="" width="18">
      </a> -->
    </div>
    <div class="menu animate__animated animate__fadeIn animate__delay-1s">
      <span id="nav_toggle">
        <i></i>
        <i></i>
        <img src="{{ 'menu.svg' | file_url }}" alt="MENU" width="48">
      </span>
      <nav class="g-nav">
        <ul>
          <li><a href="{{ shop.url }}#product">PRODUCT</a></li>
          <li><a href="{{ shop.url }}#story-main">BRAND STORY</a></li>
          <li><a href="/pages/process">PROCESS</a></li>
          <li><a href="/pages/recipe">RECIPE</a></li>
          <li><a href="{{ shop.url }}#sns">SNS</a></li>
          <li><a href="{{ shop.url }}#contact">CONTACT</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <span class="nav-open-mask"></span>
</header>
