{% if template == 'index' %}
<div id="opening-wrapper">
  <p class="animate__animated animate__zoomIn2">
    <img src="{{ 'logo_n.png' | file_url }}?1" alt="HABUSH" width="192">
  </p>
</div>
{% endif %}
<header class="{% if template == 'page.recipe' %}preload-main{% endif %} {% if template == 'page.process' %}preload-main{% endif %}">
  <div class="header-container d-flex">
    <a href="/" class="symbol animate__animated animate__fadeIn animate__delay-1s">
      <picture>
        <source srcset="{{ 'symbol.webp' | file_url }}" type="image/webp">
        <img src="{{ 'symbol.png' | file_url }}?1" alt="" width="70">
      </picture>
    </a>
    <div class="header-text-wrap animate__animated animate__fadeIn animate__delay-1s">
      <div class="header-text">
        <p class="en">SPECIALQUALITY</p>
      </div>
      <div class="header-text">
        <p class="en">
          Awamori<br>
          Habu extract<br>
          13 kinds of herbs
        </p>
      </div>
    </div>
    <div class="sns-icons animate__animated animate__fadeIn animate__delay-1s">
      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        <img src="{{ 'cart-icon.svg' | file_url }}" alt="カート" width="25">
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
    <div class="menu animate__animated animate__fadeIn animate__delay-1s">
      <span id="nav_toggle">
        <i></i>
        <i></i>
        <img src="{{ 'menu.svg' | file_url }}" alt="MENU" width="48">
      </span>
      <nav class="g-nav">
        {% if template == 'index' %}
        <ul>
          <li><a href="#product">PRODUCT</a></li>
          <li><a href="#story">BRAND STORY</a></li>
          <li><a href="/pages/process">PROCESS</a></li>
          <li><a href="/pages/recipe">RECIPE</a></li>
          <li><a href="#sns">SNS</a></li>
          <!-- <li><a href="#contact">CONTACT</a></li> -->
        </ul>
        {% else %}
        <ul>
          <li><a href="{{ shop.url }}#product">PRODUCT</a></li>
          <li><a href="{{ shop.url }}#story">BRAND STORY</a></li>
          <li><a href="/pages/process">PROCESS</a></li>
          <li><a href="/pages/recipe">RECIPE</a></li>
          <li><a href="{{ shop.url }}#sns">SNS</a></li>
          <!-- <li><a href="{{ shop.url }}#contact">CONTACT</a></li> -->
        </ul>
        {% endif %}
      </nav>
    </div>
  </div>
  <span class="nav-open-mask"></span>
</header>
